Tema 4/fisa.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT FACULTATE (STUDENT*)>
<!ELEMENT STUDENT (NUME,ADRESA,VARSTA,STARE,EMAIL,TELEFON,MEDIA)>
<!ATTLIST STUDENT cnp CDATA #REQUIRED>
<!ELEMENT NUME (#PCDATA)>
<!ELEMENT ADRESA (#PCDATA)>
<!ELEMENT VARSTA (#PCDATA)>
<!ELEMENT STARE (#PCDATA)>
<!ELEMENT EMAIL (#PCDATA)>
<!ELEMENT TELEFON (#PCDATA)>
<!ELEMENT MEDIA (#PCDATA)>